.btn:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.btn-trash{
  border: none;
  background: none;
}

/* Drop down arrow manually */
/* select {
  background: url("./images/down-arrow-of-angle-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-size: 2%;
  background-position-y: center;
  background-position-x: 98%;
} */

@media screen and (max-width: 600px){
  .sm-my-3{
    margin: 1rem 0 0rem 0;
  }
}